.classic-theme {
  --color-black-primary: #f2de9b;
  --color-black-secondary: #f4e2a7;
  --color-black-tertiary: #f5e6b3;

  --color-white-primary: #202216;
  --color-white-secondary: #3b3d32;
  --color-white-tertiary: #56574e;
}
