.pookie-theme {
  --color-black-primary: #2e2e2e;
  --color-black-secondary: #474747;
  --color-black-tertiary: #616161;

  --color-white-primary: #d6cfe1;
  --color-white-secondary: #dbd5e5;
  --color-white-tertiary: #e0dbe8;
}

.scary-red-theme {
  --color-black-primary: #5d0516;
  --color-black-secondary: #702332;
  --color-black-tertiary: #84414e;

  --color-white-primary: #f77051;
  --color-white-secondary: #f88166;
  --color-white-tertiary: #f9927b;
}
